.markSelectorContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.vega-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
