.markSelectorContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.vega-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fieldOptionsContainer {
  position: relative;
}

.fieldOptionsButton {
  cursor: pointer;
}

.fieldOptionsButton:hover .fieldOptions {
  visibility: visible;
}


.fieldOptions {
  padding: 5px;
  text-align: left;
  visibility: hidden;
  position: absolute;
  width: 150px;

  background-color: #f5f5f5;
  border: 1px solid #aaa;
  z-index: 20;
}

.fieldOptions select {
  width: 90%;
}

/* ---------------------------------------- */
/* from node_modules/vega-tooltip/src/vg-tooltip.css */

.vg-tooltip {
  padding: 6px;
  border-radius: 3px;
  position: fixed;
  z-index: 2000;
  font-family: sans-serif;
  font-size: 11px;

  /* The default look of the tooltip is the same as .light-theme
  but it can be overwritten by .dark-theme */
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #d9d9d9;
  color: black;
  visibility: hidden;
}
.vg-tooltip td.key, .vg-tooltip td.value {
  overflow: hidden;
  text-overflow: ellipsis;
}
.vg-tooltip td.key {
  color: #808080;
  max-width: 150px;
  text-align: right;
  padding-right: 1px;
}
.vg-tooltip td.value {
  max-width: 200px;
  text-align: left;
}

/* Dark and light color themes */
.vg-tooltip.dark-theme {
  background-color: rgba(64, 64, 64, 0.9);
  border: none;
  color: white;
}
.vg-tooltip.dark-theme td.key {
  color: #bfbfbf;
}
.vg-tooltip.light-theme {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #d9d9d9;
  color: black;
}
.vg-tooltip.light-theme td.key {
  color: #808080;
}

/* ---------------------------------------- */
