table.table thead th {
  border-bottom-style: double;
  border-bottom-width: 3px;
}

table.table thead th:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}


.measureCell {
  text-align: right;
}

td.measureCell {
  font-family: "Nova Mono", monospace;
}
