ul.ddmenu {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid silver;
    font: 1em sans-serif;
}
ul.ddmenu li {
    list-style-type: none;
    border: 1px solid silver;
    border-width: 1px 1px 0 3px;
    position: relative;
    margin: 0;
    padding: 0;
}
ul.ddmenu ul {
    display: none;
}
ul.ddmenu li:hover > ul {
    display: block;
    position: absolute;
    top: -1px;
    left: 100%;
}
li a {
    display: block;
    padding: 5px 7px;
    text-decoration: none;
    background: #FFF;
}
ul.ddmenu li a:hover {
    background: yellow;
}
li.sub > a {
    font-weight: bold;
    background: #FFE;
}

ul.ddmenu {
    width: 6em;
}
ul.ddmenu > li:hover > ul {
    width: 10em;
    top: 1.5em;
    left: -3px;
}
ul.ddmenu ul {
    width: 10em;
}
